<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/d7eef6374aced10980d655e0/w/a95c1ea2fcec3b2e30db9b5b/e/8d1351f7a95e52f2d9ada234 -->
<robot name="arm-v3">
  <!-- Link a_v3_base -->
  <link name="a_v3_base">
    <inertial>
      <origin xyz="-0.00597698 -0.0791498 0.0106431" rpy="0 0 0"/>
      <mass value="0.219524"/>
      <inertia ixx="0.000386732" ixy="5.87702e-05" ixz="-4.6693e-06" iyy="0.000335538" iyz="-1.7287e-08" izz="0.00065635"/>
    </inertial>
    <!-- Part ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401 -->
    <visual>
      <origin xyz="-0.0501029 -0.0106069 0.011994" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401.stl"/>
      </geometry>
      <material name="ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0501029 -0.0106069 0.011994" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401.stl"/>
      </geometry>
    </collision>
    <!-- Part base -->
    <visual>
      <origin xyz="0.000397123 -0.0896069 0.00199404" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base.stl"/>
      </geometry>
      <material name="base_material">
        <color rgba="0.972549 0.529412 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000397123 -0.0896069 0.00199404" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base.stl"/>
      </geometry>
    </collision>
    <!-- Part pca9685_generic -->
    <visual>
      <origin xyz="0.00639712 -0.125607 0.00719404" rpy="-0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/pca9685_generic.stl"/>
      </geometry>
      <material name="pca9685_generic_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00639712 -0.125607 0.00719404" rpy="-0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/pca9685_generic.stl"/>
      </geometry>
    </collision>
    <!-- Part ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401_2 -->
    <visual>
      <origin xyz="-0.0271029 -0.0566069 0.011994" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401.stl"/>
      </geometry>
      <material name="ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401_2_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0271029 -0.0566069 0.011994" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401.stl"/>
      </geometry>
    </collision>
    <!-- Part ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401_3 -->
    <visual>
      <origin xyz="-0.0501029 -0.0566069 0.011994" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401.stl"/>
      </geometry>
      <material name="ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401_3_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0501029 -0.0566069 0.011994" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401.stl"/>
      </geometry>
    </collision>
    <!-- Part ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401_4 -->
    <visual>
      <origin xyz="-0.0271029 -0.0106069 0.011994" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401.stl"/>
      </geometry>
      <material name="ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401_4_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0271029 -0.0106069 0.011994" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m3x0_50_x_6__b32648e3119e9bfb9d9baf1e22451401.stl"/>
      </geometry>
    </collision>
    <!-- Part pinheader_1x15_p254mm_vertical -->
    <visual>
      <origin xyz="-0.0387099 -0.0334148 0.00954404" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/pinheader_1x15_p254mm_vertical.stl"/>
      </geometry>
      <material name="pinheader_1x15_p254mm_vertical_material">
        <color rgba="0.858824 0.737255 0.494118 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0387099 -0.0334148 0.00954404" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/pinheader_1x15_p254mm_vertical.stl"/>
      </geometry>
    </collision>
    <!-- Part lqfp_52_14x14mm_p1mm -->
    <visual>
      <origin xyz="-0.0387079 -0.0304148 0.00964404" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/lqfp_52_14x14mm_p1mm.stl"/>
      </geometry>
      <material name="lqfp_52_14x14mm_p1mm_material">
        <color rgba="0.823529 0.819608 0.780392 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0387079 -0.0304148 0.00964404" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/lqfp_52_14x14mm_p1mm.stl"/>
      </geometry>
    </collision>
    <!-- Part usb_micro_b_molex_47346_0001 -->
    <visual>
      <origin xyz="-0.0387079 -0.0334148 0.0096517" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/usb_micro_b_molex_47346_0001.stl"/>
      </geometry>
      <material name="usb_micro_b_molex_47346_0001_material">
        <color rgba="0.823529 0.819608 0.780392 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0387079 -0.0334148 0.0096517" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/usb_micro_b_molex_47346_0001.stl"/>
      </geometry>
    </collision>
    <!-- Part esp32_30pin_pcb -->
    <visual>
      <origin xyz="-0.0387079 -0.0334148 0.00959404" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/esp32_30pin_pcb.stl"/>
      </geometry>
      <material name="esp32_30pin_pcb_material">
        <color rgba="0.313725 0.486275 0.411765 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0387079 -0.0334148 0.00959404" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/esp32_30pin_pcb.stl"/>
      </geometry>
    </collision>
    <!-- Part lqfp_32_5x5mm_p05mm -->
    <visual>
      <origin xyz="-0.0387079 -0.0384149 0.00974404" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/lqfp_32_5x5mm_p05mm.stl"/>
      </geometry>
      <material name="lqfp_32_5x5mm_p05mm_material">
        <color rgba="0.823529 0.819608 0.780392 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0387079 -0.0384149 0.00974404" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/lqfp_32_5x5mm_p05mm.stl"/>
      </geometry>
    </collision>
    <!-- Part pinheader_1x15_p254mm_vertical_1 -->
    <visual>
      <origin xyz="-0.0387059 -0.0334149 0.00954404" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/pinheader_1x15_p254mm_vertical_1.stl"/>
      </geometry>
      <material name="pinheader_1x15_p254mm_vertical_1_material">
        <color rgba="0.858824 0.737255 0.494118 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0387059 -0.0334149 0.00954404" rpy="3.14159 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/pinheader_1x15_p254mm_vertical_1.stl"/>
      </geometry>
    </collision>
    <!-- Part mg996r -->
    <visual>
      <origin xyz="0.000397123 -0.099956 0" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/mg996r.stl"/>
      </geometry>
      <material name="mg996r_material">
        <color rgba="0.301961 0.301961 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000397123 -0.099956 0" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/mg996r.stl"/>
      </geometry>
    </collision>
    <!-- Part attach -->
    <visual>
      <origin xyz="0.000397123 -0.099956 0.0005" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/attach.stl"/>
      </geometry>
      <material name="attach_material">
        <color rgba="0.796078 0.823529 0.937255 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000397123 -0.099956 0.0005" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/attach.stl"/>
      </geometry>
    </collision>
  </link>
</robot>
